{
 "extends": "airbnb",
 "parserOptions": {
     "ecmaVersion": 6,
     "sourceType": "module",
     "parser": "babel-eslint",
     "ecmaFeatures": {
         "jsx": true,
         "modules": true,
         "experimentalObjectRestSpread": true
     }
 },
 "plugins": [
     "react"
 ],
 "env" : {
     "node": true,
     "browser": true,
     "es6": true
 },
 "rules": {
     "indent": ["error", 4],
     "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
     "react/jsx-indent": ["error", 4],
     "react/jsx-indent-props": ["error", 4],
     "jsx-a11y/no-noninteractive-element-interactions": [
         0,
         {
           "handlers": [
             "onClick",
             "onMouseDown",
             "onMouseUp",
             "onKeyPress",
             "onKeyDown",
             "onKeyUp"
           ]
         }
       ],
       "jsx-a11y/click-events-have-key-events": [0],
       "react/prop-types": [0],
       "react/destructuring-assignment": [0]
 }
 
}
